<td>
	<%= link_to edit_meal_plan_path( meal_plan ) do %>
		<p><%= meal_plan.recipe.name %></p>
	<% end %>
	
	<%= link_to delete_meal_plan_path(meal_plan), method: :delete do %>
		<p><%= t('meal_plan.remove') %></p>
	<% end %>
</td>
