<% @quantities.each do |key, value|%>
	<% q = Quantity.find( key )[0] %>
	<p><%= "#{value * @counts[q.recipe_id]}#{q.unit.name} #{q.ingredient.name}" %></p>
<% end %>

<%= link_to 'export PDF', ingredient_requirement_pdf_path( @week_start.to_s ) %>