<div class="sign-in-buttons" style="margin:10px">
  <div class="btn-group">
<!--  <a class="btn btn-sm btn-default" href="<%= user_omniauth_authorize_path('github')%>">GitHub</a>-->
  <a class="btn btn-sm btn-danger" href="<%= user_omniauth_authorize_path('google_oauth2')%>">Google+</a>
  <a class="btn btn-sm btn-info" href="<%= user_omniauth_authorize_path('twitter')%>">Twitter</a>
  </div>
</div>
