<li style="list-style-type: none; clear: both">
  <div class="well">
    <br/>
    <% img = recipe.pictures.first || "/assets/no_image.png"%>
    <img src="<%= img %>" class="img-rounded" style="float: left; width: auto; height: 150px;" />
  	<div style="padding-left: 20px">
  		<h3><%= link_to recipe.name, recipe_path(recipe) %> <small>(<%= recipe.prep_time %> min)</small></h3>
  		<br/>
  		<%= recipe.instructions %> 
  	</div>
	</div>
</li>