<div class="row">
  <div style="text-align: right; width: 7em; float: left">
    <%= quantity.quantity.to_s %>
  </div>
  <div style="text-align: left; width: 3em; float: left">
    &nbsp;
    <%= quantity.unit.name %>
  </div>
  <div class = "col-sm-6" style="text-align: left">
    <%= quantity.ingredient.name %>
  </div>
</div>
