<%= bootstrap_form_for( @category, url: 'javascript: recipe_form_helper.post();', layout: :horizontal) do |i_f| %>
  <p>
  	<%= i_f.text_field :name, control_col: "col-sm-5"%>
  </p>
  <%= i_f.submit class: "btn btn-success"%>
<% end %>