<button name="<%= name%>" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width:<%= width%>">
  <%= t(name)%>
  <span class="caret"/>
</button>
<ul name="<%= name%>" class="dropdown-menu">
  <li></li>
</ul>