<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Login</h3>
  </div>
  <div class="panel-body">
     <% if user_signed_in? %>
     	<%= link_to current_user.email, edit_user_registration_path %>
     	<%= link_to t('log_off'), destroy_user_session_path, method: :delete %>
     <% else %>
	    <%= render 'users/sessions/log_in' %>
    <% end%>
  </div>
</div>