<ul class="nav nav-pills nav-stacked">
  <li>
    <%= link_to t('new_recipe'), new_recipe_path %>
  </li>
  <% if user_signed_in? %>
  <li class="active">
    <%= link_to t('own_recipes'), own_recipes_path( current_user ) %>
  </li>
  <li/>
  <% end %>
<!--      <span class="badge pull-right">3</span>-->
</ul>
