<script>
  navigation_helper = new Navigation()
</script>
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <a class="navbar-brand navbar-left" href="<%= root_path %>" style="margin-right: 0"><%= t('cooking_with_ruby')%></a>
  <%= render 'searchbar'%>
</nav>
<div id="searchresults">
</div>
